@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --primary-background-color: #fff;
  --sideBar-background-color: #fafafa;
  --text-color-black-one: #1b212d;
  --gray-color-one: #929eae;
  --gray-color-two: #f8f8f8;
  --primary-accent-color: #c8ee44;
  --secondary-green-color: #29a073;
  --card-box-color: #626260;
  --card-linear-bg-one: #4a4a49;
  --card-linear-bg-two: #20201f;
  --secondary-accent-color: #363a3f;
  --input-chart-gray-color: #f5f5f5;
  --input-icon-color: #a2a2a8;
  --box-icon-color: #ebe8e8;
  --main-box-icon-color: #4e5257;
  --card-date-color: #868685;
  --green-success-color: #19d076;
  --red-error-color: #e5363d;
}

.dark {
  --primary-background-color: #1c1a2e;
  --sidebar-background-color: #1e1c30;
  --text-color-black-one: #fff;
  --card-box-color: #78778b;
  --card-linear-bg-one: #2e2b4a;
  --card-linear-bg-two: #29263f;
  --gray-color-one: #78778b;
  --gray-color-two: #201e34;
  --primary-accent-color: #c8ee44;
  --secondary-green-color: #29a073;
  --secondary-accent-color: #282541;
  --input-chart-gray-color: #282541;
  --input-icon-color: #78778b;
  --box-icon-color: #292642;
  --main-box-icon-color: #353255;
  --card-date-color: #868685;
  --green-success-color: #19d076;
  --red-error-color: #e5363d;
}
